body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #575555;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    color: #424242;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #646363;
    text-decoration: none;
    padding: 5px;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #555;
    color: #faf9f9;
    padding: 10px;
    text-align: center;
}

.productos {
    display: flex;
    justify-content: space-between;
}
  
.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
  
.carrito {
    margin-top: 20px;
}
  
.carrito h2 {
    margin-bottom: 10px;
}
  
button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
  
button:hover {
    opacity: 0.8;
}

.carousel {
    width: 600px;
    height: 700px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
  
.carousel-inner {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}
  
.carousel-item {
    width: 100%;
    height: 100%;
}
  
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.carousel-controls {
    margin-top: 10px;
    text-align: center;
}
  
.carousel-controls button {
    margin: 0 5px;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b06ab0;
    padding-top:20px ;
}